footer {
    background-color: #2d2725;
    padding-bottom: 40px;
    p {
        color: #9c9c9c;
        margin: 0;
        text-align: center;
        font-size: 0.9em;
    }
    .copyright {
        padding-top: 40px;
        padding-bottom: 30px;
        text-align: center;
    }
    .social-links a {
        display: inline-block;
        margin-left: 15px;
    }
}
